.type-title1 {
  font-family: var(--uai-typography-core-family-sans);
  font-size: var(--uai-dimension-minor-scale-16);
  font-weight: var(--uai-typography-core-weight-semi-bold);
  letter-spacing: var(--uai-typography-core-tracking-5);
  line-height: var(--uai-typography-core-leading-4);
}

